node-red-flow.json
[{"id":"fae369e4.c4e658","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6fecb137.59aae","type":"mqtt in","z":"fae369e4.c4e658","name":"","topic":"node/game2-button:0/push-button/-/press-time","qos":"2","broker":"29fba84a.b2af58","x":210,"y":60,"wires":[["96a821a0.0bee7"]]},{"id":"d561e12.0d46f2","type":"function","z":"fae369e4.c4e658","name":"decode . - or reset","func":"let text = flow.get('text') || '';\n\nif (text.length > 20) {\n    text = '';\n}\n\nif (msg.payload <= 250) { \n    text += '.';\n}\nelse if (msg.payload <= 2000) {\n    text += '-';\n}\nelse {\n    text = '';\n}\n\nflow.set('text', text);\n\nreturn {payload: text};","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["c4d60cc1.ecd69","f5879279.af08a","399ae8d0.7eafc8"]]},{"id":"c4d60cc1.ecd69","type":"debug","z":"fae369e4.c4e658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":120,"wires":[]},{"id":"f5879279.af08a","type":"delay","z":"fae369e4.c4e658","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":240,"wires":[["b305438.e3d4ec"]]},{"id":"b305438.e3d4ec","type":"function","z":"fae369e4.c4e658","name":"add space","func":"let text = flow.get('text') || '';\n\nif (text.length > 0) { \n    text += ' ';\n    flow.set('text', text);\n}\n\nreturn {payload: text};","outputs":1,"noerr":0,"x":150,"y":320,"wires":[["a78e6bae.c35068"]]},{"id":"96a821a0.0bee7","type":"change","z":"fae369e4.c4e658","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":180,"wires":[["f5879279.af08a","d561e12.0d46f2","42899cf8.cabc94"]]},{"id":"a635e63d.a93cf8","type":"mqtt out","z":"fae369e4.c4e658","name":"","topic":"node/game2-power-controller:0/led-strip/-/morse-code/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":750,"y":380,"wires":[]},{"id":"399ae8d0.7eafc8","type":"function","z":"fae369e4.c4e658","name":"JSON.stringify","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["a635e63d.a93cf8"]]},{"id":"a78e6bae.c35068","type":"switch","z":"fae369e4.c4e658","name":"-... . - - ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-... . - - ","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":420,"wires":[["fea3f6db.838458"],["399ae8d0.7eafc8"]]},{"id":"7686ee02.bc639","type":"mqtt out","z":"fae369e4.c4e658","name":"","topic":"node/game2-power-controller:0/led-strip/-/effect/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":770,"y":520,"wires":[]},{"id":"fea3f6db.838458","type":"template","z":"fae369e4.c4e658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"\t{\"type\":\"stroboscope\", \"wait\":250, \"color\":\"#00ff00\"}","output":"str","x":300,"y":520,"wires":[["7686ee02.bc639","cd7212b8.76e23","42899cf8.cabc94"]]},{"id":"cd7212b8.76e23","type":"function","z":"fae369e4.c4e658","name":"clear","func":"flow.set('text', '');","outputs":1,"noerr":0,"x":450,"y":460,"wires":[[]]},{"id":"42899cf8.cabc94","type":"delay","z":"fae369e4.c4e658","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":600,"wires":[["d1af419b.5880c"]]},{"id":"d1af419b.5880c","type":"template","z":"fae369e4.c4e658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"\t{\"type\":\"color-wipe\", \"wait\":0, \"color\":\"#000000\"}","output":"str","x":460,"y":600,"wires":[["7686ee02.bc639"]]},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]
